.intro {
  height: auto;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: hsl(0, 0%, 100%);
  font-family: 'Raleway';
  clear: both;
}

.intro-img-container {
  width: 100%;
}

.intro-img-container img {
  width: 100%;
}

.intro h1,
.intro p {
  text-align: center;
  margin-top: 20px;
}

.intro p {
  font-size: 14px;
  margin-bottom: 20px;
  width: 70%;
}

@media screen and (max-width: 900px) {
  .intro,
  .intro p {
    width: 90%;
  }
}
