.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  font-family: 'Open Sans';
  margin-top: 20px;
}

@media screen and (max-width: 900px) {
  .features {
    flex-direction: column;
    align-items: center;
  }
}
