* {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: rgba(24, 31, 42, 0.9);
  background-image: url('./assets/bg-curvy-desktop.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
}
