* {
  margin: 0;
  padding: 0;
}

.wrapper {
  background-color: hsl(217, 28%, 15%);
  background-repeat: no-repeat;
  background-image: url('./assets/bg-curvy-desktop.svg');
  background-position: 50% 23%;
  height: auto;
}
